page-home {
    .time{
        font-size: 2em;
    }
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          background: none;
          border: none;
          box-shadow: none;
          width:40%;
        }
      
        .card-title {
          position: absolute;
          top: 45%;
          font-size: 0.5em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 0.01em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
}
